// Tailwind CSS Import
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// Our SCSS

$lightGray: #edf2f7;
$yellow: #fff133;

body {
    margin: 0;
}

a, button {
    outline: 0 !important;
}

.bg-blogNav, .bg-tag {
    background-color: $yellow;
}

.tagsCard {
    border: 2px $yellow solid;
}

.tagsHeader {
    background-color: $yellow;
}

#bg-homepage {
    position: fixed;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    height: 100vh;
    width: 100vw;
    opacity: .3;
    pointer-events: none;
}

.job, .school {
    margin-bottom: .5rem;
    border-bottom: 1px solid #cbd5e0;
    padding: 0 1rem 1rem 1rem;
}

.job:last-child, .school:last-child {
    border-bottom: none;
    margin-bottom: .5rem;
    padding-bottom: 0;
}

::placeholder {
    color: $lightGray;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $lightGray;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: $lightGray;
}