// Tailwind CSS Import
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// Our SCSS
body {
    margin: 0;
}

#bg-homepage {
    position: fixed;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    height: 100vh;
    width: 100vw;
    opacity: .3;
    pointer-events: none;
}